body {
  font-family: sans-serif;
  margin: auto;
  max-width: 1280px;
  background-color: #fbf9eb;
}

.navbar {
  background-color: #150c04;
  border-radius: 4px;
}

.navbar a {
  color: #e9d9ac;
  display: inline-block;
  font-size: 18px;
  padding: 10px;
  text-decoration: none;
}

.navbar a:hover {
  color: #ffffff;
}

.lua-code {
  font-family: monospace;
  background: #f0f3f3;
  overflow:auto;
  width:50%;
  border:solid gray;
  border-width:1px;
  border-radius:4px;
  padding:4px 8px;
  margin:8px 0px;
}

.lua-def {
  border-width:1px 4px 1px 4px;
}

.lua-example {
   margin-left:25px;
}

.mono {
  font-family: monospace;
}

code {
  font-family: monospace;
  background: #e9f0ff;
  padding: 2px;
  border-radius: 4px;
}
